/* 
## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)


font-family: 'Poppins', sans-serif;
- Font size: 15px 
*/

html {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    /* background-color: hsl(0, 0%, 98%); */
    background-color: gray;
}

.thin {
    font-weight: 200;
}

.description , .sentence {
    color: hsl(229, 6%, 66%);
}

.title {
    font-weight: 600;
}

.thin {
    color: hsl(229, 6%, 66%);
}

.boxcolor1 , .boxcolor2 , .boxcolor3 , .boxcolor4 {
    width: 330px;
    height: 5px;

    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px; */
}

.box1 , .box2 , .box3 , .box4 {
    background-color: white;

    width: 330px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 10px;
}



.boxcontent1 , .boxcontent2 , .boxcontent3 , .boxcontent4 {
    box-sizing: border-box;
    padding: 25px 30px;
    display: grid;
}

.boxcolor1 {
    background-color: hsl(180, 62%, 55%);
}

.boxcolor2 {
    background-color: hsl(0, 78%, 62%);
}

.boxcolor3 {
    background-color: hsl(34, 97%, 64%);
}

.boxcolor4 {
    background-color: hsl(212, 86%, 64%);
}

.sentence {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 10px;
}

.icon1 , .icon2 , .icon3 , .icon4 {
    justify-self: right;
}